/*Custom Card*/

.custom_card {
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  background-color: var(--secondBackground);
  padding: 0 !important;
  &_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
    height: 55px;
    padding: 0 20px;
    .custom_card_title {
      font-size: 20px;
      font-weight: 500;
      color: var(--textColor);
    }
    .custom_card_header_groups {
      display: flex;
      gap: 10px;
    }
  }
  &_body {
    padding: 20px;
  }
  &_footer {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.custom_card_dropdown {
  position: relative;
  .custom_card_dropdown_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    transition: 150ms;

    &:hover {
      background-color: var(--secondBackgroundHover);
    }
  }
  .custom_card_dropdown_menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--secondBackground);
    overflow: hidden;
    z-index: 10;
    border-radius: 4px;
    border: 1px solid var(--borderColor);
    padding: 0;
    max-height: 0;
    width: auto;
    opacity: 0;
    pointer-events: none;
    transition: max-height 300ms ease, opacity 300ms ease;
    .custom_card_dropdown_menu_item {
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      padding: 0 20px;
      color: var(--textColor);
      transition: background-color 150ms;
      cursor: pointer;
      &:hover {
        background-color: var(--secondBackgroundHover);
      }
    }
    &.open {
      max-height: 200px;
      opacity: 1;
      pointer-events: auto;
    }
  }
}


.custom_card_avatar{
  width:150px;
  height:150px;
  border-radius: 50%;
  border: 1px solid var(--subTextColor);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: 150ms ease-in-out display;
  .custom_card_avatar_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
  }
  &:hover .custom_card_avatar_upload{
    display: flex;
  }
  .custom_card_avatar_upload{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    margin: auto;
    background-color: rgba(#000000, 0.35);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & > svg{
      color: #ffffff;
      font-size: 20px;
    }
  }
}