/*Custom Card*/

.custom_card {
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  background-color: var(--secondBackground);
  padding: 0 !important;
  &_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
    height: 55px;
    padding: 0 20px;
    .custom_card_title{
      font-size: 20px;
      font-weight: 500;
      color: var(--textColor);
    }
    .custom_card_header_groups{
      display: flex;
      gap: 10px;
    }
  }
  &_body {
    padding: 20px;
  }
  &_footer{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
