/*Language Modal*/

.language_modal{
    padding: 15px 0 50px 0;
    &_img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .language_modal_icon{
            width:45px;
            height:45px;
        }
    }
    &_title{
        font-size:22px;
        font-weight: 600;
        line-height: 1.2rem;
        text-align: center;
        margin-bottom: 15px;
    }
    &_languages{
        margin-top: 30px;
        .language_item{
            border: 1px solid var(--subTextColor);
            border-radius: 4px;
            padding: 5px 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 150ms ease-in-out;
            &.selected{
                background: var(--background);
                border-color: goldenrod;
                & > .language_item_text{
                    color: goldenrod !important;
                }
            }
            &:hover{
                transform: translateY(-3px);
            }
            &_img{
                width:25px;
                height:25px;
                margin-right: 10px;
            }
            &_text{
                font-size: 14px;
                font-weight: 500;
                color:#888;
            }
        }
    }
}