/*User*/

.user_menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    &.mobile{
        grid-template-columns: repeat(2,1fr);
    }
    .user_menu_item{
        width:100%;
        height:50px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        background-color: var(--background);
        color:var(--textColor);
        border: 1px solid var(--borderColor);
        &.active{
            background-color: var(--sidebarHover);
        }
    }
}

@media only screen and (max-width:768px){
    .user_menu{
        grid-template-columns: repeat(2,1fr);
    }
}